//Color
$primary-color: #bd1133;
$primary-color-light: #ffc0cd;
$primary-color-hover: #8d0f28;

$white: #fff;
$black: #333;
$green: #27a082;
$green-hover: #e3f3f0;
$grey: #717981;
$grey-blur: #c9d1d3;
$grey-blur-2: #ebf0f1;
$grey-light: #f9fafb;
$orange: #fb8500;

$bg-color: rgba(225, 170, 170, 0.3);

//FONT-SIZE
$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.3rem;

//FONT-WEIGHT
$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;

//TRANSITION & BORDER
$transition: all 120ms ease;
$transition2: all 300ms ease;
$borderRadius: 4px;

//BOX SHADOW
$bs: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$bs1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$bs2: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// DEVICE
$mobile-width: 415px;
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1px}) and (max-width:#{$desktop-width}) {
    @content;
  }
}
