$white: #fff;
$black: #333;
$green: #27a082;
$green-dark: #217963;
$green-light: #44eac1;
$green-hover:#e3f3f0;
$grey: #717981;
$grey-blur: #c9d1d3;
$grey-light:#f9fafb;

$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.3rem;

$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;

$transition: all 120ms ease;
