@import 'variables';

.title {
  color: $grey;
  border-bottom: 2px solid $grey-blur;
};

.container {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  margin-top: 20px;

  .leftSide {
    height: 600px;
  }

  .rightSide {
    height: 600px;
  }
}