@import 'variables';

.title {
  color: $grey;
  border-bottom: 2px solid $grey-blur;
};

.container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;

  .leftSide {
    height: 100vh;
    border: 1px solid red;
  }

  .rightSide {
    height: 100vh;
    border: 1px solid blue;
  }
}