@import "variables";

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $fs-lg;
  color: $grey;
  padding-bottom: 10px;
  border-bottom: 2px solid $grey-blur;
  .header {
    font-weight: $fw-bold;
  }

  .dayLeft {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    p {
      width: 20%;
    }
    .progress {
      width: 80%;
    }
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .iconButton {
      text-align: center;
    }
    span {
      margin-right: 5px;
    }
    button {
      margin: 0 5px;
    }
  }
}

.container {
  width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
  display: flex;
  justify-content: center;

  .calendarWrapper {
    width: 1800px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: $bs1;
  }
}
