@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
  color: $grey;
  border-bottom: 1px solid $grey-blur;

  .leftSide {
    flex-grow: 2;
    li,
    button,
    h4 {
      display: inline-block;
    }
    button.approveBtn {
      width: 100px;
      margin-right: 1rem;
      transition: $transition;
      span {
        margin-right: 5px;
      }
      &:hover {
        background-color: $primary-color-hover;
      }
    }
    h4.title {
      vertical-align: middle;
      line-height: 35px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  margin-top: 1rem;
  text-align: center;
}