@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  color: #aaa;
}

input {
  width: 100%;
  height: 3rem;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  border: 1px solid #aaa;
  box-shadow: 0px 3px 13px 0 rgb(238 242 246 / 35%);
  transition: all 120ms ease;
}

input:focus {
  padding: 0.9rem 1rem;
  border: 1px solid #27a082;
  outline: #27a082;
  box-shadow: 0px 3px 13px 0 rgb(238 242 246 / 35%);
}