@import "variables";

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);
  left: 300px;
  padding: 10px 20px 0 20px;
  @include mobile {
    width: calc(100% - 90px);
    left: 90px;
  }
}

.activeContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 130px);
  left: 130px;
  padding: 10px 20px 0 20px;
}
