@import "variables";

.content {
  position: absolute;
  width: calc(100% - 300px);
  min-height: 100vh;
  left: 300px;
  padding: 10px 20px 0 20px;
  background-color:  $bg-color;
  @include mobile {
    width: calc(100% - 90px);
    left: 90px;
    background-color:  $bg-color;
  }
}

.activeContent {
  position: absolute;
  width: calc(100% - 130px);
  min-height: 100vh;
  left: 130px;
  padding: 10px 20px 0 20px;
  background-color:  $bg-color;
}

.staffContent {
  padding: 20px;
  background-color:  $bg-color;
}
