@import "variables";

.head {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;

  .logo {
    width: 15%;
    img {
      width: 100%;
    }
  }

  .signup {
    .signup_blur {
      margin-right: 1rem;
      color: $grey-blur;
      font-size: 0.8rem;
      font-weight: $fw-light;
    }

    a {
      font-weight: $fw-bold;
      color: $primary-color;
    }
    .signup_btn {
      transition: $transition;

      &:hover {
        color: $primary-color-hover;
      }
    }
  }
}

.bgImage {
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(6px);
}

.bgText {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: $white;
  border: 1px solid #f1f1f1;
  border-radius: $borderRadius;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .title {
    color: $primary-color;
  }
  @include desktop {
    width: 60%;
  }

  @include tablet {
    width: 80%;
  }

  @include mobile {
    width: 70%;
  }

  .content {
    margin: 3rem auto;
    text-align: center;
    @include mobile {
      padding: 1rem;
    }

    h2 {
      font-weight: $fw-bold;
      font-style: $fs-lg;
      margin: 1rem 0;
    }

    .wrapper {
      max-width: 400px;
      margin: 0 auto;

      .submit {
        background: $primary-color;
        color: $white;
        font-size: $fs-lg;
        margin-top: 1rem;
      }

      .submit:hover {
        background-color: $primary-color-hover;
        cursor: pointer;
      }
    }
  }
}

.isInvalid {
  border-bottom: 3px solid $primary-color;
  text-align: left !important;
}