@import "variables";

.head {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;

  .headerText {
    font-size: $fs-xl;
    font-weight: $fw-bold;
    color: $primary-color;
  }

  .signup {
    .signup_blur {
      margin-right: 1rem;
      color: $primary-color;
      font-style: italic;
      font-size: 0.8rem;
      font-weight: $fw-light;
    }

    a {
      font-weight: $fw-bold;
      color: $primary-color;
    }
    .signup_btn {
      transition: $transition;
      &:hover {
        color: $primary-color-hover;
      }
    }
  }
}

.bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $primary-color;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.26);

  @include tablet {
    width: 70%;
    padding: 20px;
  }

  @include desktop {
    width: 30%;
    padding: 10px;
  }

  .title {
    color: $primary-color;
  }

  .content {
    margin: 3rem auto;
    width: 100%;
    text-align: center;
    @include mobile {
      padding: 10px;
    }

    h2 {
      font-weight: $fw-bold;
      font-style: $fs-lg;
      margin: 1rem 0;
    }

    .wrapper {
      max-width: 450px;
      margin: 0 auto;

      @include tablet {
        width: 80%;
      }

      input {
        width: 100%;
        border-radius: 16px;
        margin: 10px 0;
      }

      .error {
        margin-top: 10px;
      }

      .errorText {
        color: $primary-color-hover;
        font-weight: $fw-bold;
      }

      .submit {
        background: $primary-color;
        color: $white;
        font-size: $fs-lg;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
      }

      .submit:hover {
        background-color: $primary-color-hover;
        cursor: pointer;
      }

      .signIn {
        width: 100%;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        border-radius: 16px;
        background-color: $primary-color;
        color: $white;
        text-align: center;
        font-weight: $fw-bold;
        font-size: $fs-lg;
        transition: $transition2;
        &:hover {
          background-color: $primary-color-hover;
        }
      }
    }
  }
}

.isInvalid {
  border-bottom: 3px solid $primary-color;
  text-align: left !important;
}
