@import "variables";

.password {
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    color: $grey-blur;
    transition: $transition;
  }

  .icon:hover {
    color: $green;
  }
}