@import "variables";

.wrapper {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $bs1;
  @include desktop {
    width: 100%;
    overflow-x: scroll;
  }

  table {
    width: 100%;
    @include desktop {
      width: 1400px;
    }
    table-layout: auto;
    thead {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      th {
        padding: 10px 0;
      }
    }

    tbody {
      tr {
        td {
          height: 70px;
          padding: 10px;
          border-bottom: 1px solid $grey-blur;
          color: $grey;
        }
      }
    }
  }

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
