@import "variables";

.wrapper {
  display: flex;
  align-items: center;
  color: $black;
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid $grey;
  font-weight: $fw-bold;
  overflow: hidden;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }


  .avatarWrapper{
    border: 2px solid transparent;
    border-radius: $borderRadius-2;
    width: 50px;
    height: 50px;
    transition: $transition;
    &:hover {
      border: 2px solid $primary-color;
      background-color: $primary-color-light;
    }
    .avatar {
      border-radius: $borderRadius-2;
    }
  }

  .info {
    display: block;
    padding-left: 10px;
    .username {
      color: $black;
    }
    .role {
      color: $primary-color;
    }

    &.active {
      display: none;
    }
  }
}
