@import "variables";

.filter {
  display: flex;
  align-items: center;
  max-width: 50%;

  .title {
    text-transform: uppercase;
    color: $green;
    margin-right: 30px;
  }

  .filter__ip {
    display: flex;
    align-items: center;
    border: 1px solid $grey-blur;

    .filter__ip__ic {
      margin-left: 5px;
      color: $grey-blur;
    }

    input {
      margin: 0;
      width: 80px;
      border: none;
      height: 35px;
      background-color: transparent;
      transition: $transition;
    }

    input:focus {
      width: 200px;
    }
  }
}

.my__request {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px 0 8px 5px;
    border-bottom: 1px solid $grey-blur;
  }

  th {
    color: $grey-blur;
    text-align: left;
    text-transform: uppercase;
  }

  th.period {
    .period__container {
      display: flex;
      align-items: center;
    }

    .period__icon__container {
      font-size: 14px;
      display: flex;
      margin-left: 10px;
      flex-direction: column;
      cursor: pointer;
    }

    .period__icon:hover {
      color: $green;
    }
  }

  td.status {
    .status__container {
      display: flex;
      align-items: center;

      .status__icon {
        margin-right: 10px;
        font-size: 7px
      }

      .success {
        color: $green;
      }

      .pending {
        color: $orange;
      }
    }
  }
}