@import "variables";

.searchBox {
  .inputAdornment {
    background-color: $primary-color-hover;
    color: $white;
  }
}

.myRequest {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px 0 8px 5px;
    border-bottom: 1px solid $grey-blur;
  }

  th {
    color: $grey-blur;
    text-align: left;
    text-transform: uppercase;
  }

  th.period {
    .periodContainer {
      display: flex;
      align-items: center;
    }

    .periodIconWrapper {
      font-size: 14px;
      display: flex;
      margin-left: 10px;
      flex-direction: column;
      cursor: pointer;
    }

    .periodIcon:hover {
      color: $green;
    }
  }

  td.status {
    .statusContainer {
      display: flex;
      align-items: center;

      .statusIcon {
        margin-right: 10px;
        font-size: 7px
      }

      .success {
        color: $green;
      }

      .pending {
        color: $orange;
      }
    }
  }
}