@import "variables";

.searchWrapper {
  min-width: fit-content;
  border: 1px solid $grey-light;
  border-radius: $borderRadius;
  box-shadow: $bs;
  padding: 0 10px;
  margin-bottom: 50px;

  h3 {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: $fs-lg;
  }

  .searchBox {
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }
}
