@import "variables";

.sidebar {
  position: relative;
  width: 130px;
  height: 100vh;
  background-color: $grey-light;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px 14px;
  border-left: 50px solid $green;
  border-right: 1px solid $grey-blur;
  transition: $transition;

  .logoWrapper {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px 0;
    border-bottom: 1px solid $grey-blur;

    .logo {
      display: none;
    }

    #hamburger {
      color: $green;
      border-radius: $borderRadius;
      padding: 2px;
      position: absolute;
      left: 50%;
      top: 20px;
      height: 20px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      transform: translateX(-50%);
    }
  }

  ul li {
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
  }

  ul li a {
    display: flex;
    align-items: center;
    color: $black;
    border-radius: 4px;
    transition: $transition;
    padding: 10px 0;

    span {
      display: none;
    }

    svg {
      color: $grey-blur;
      height: 20px;
      min-width: 50px;
      border-radius: 12px;
      line-height: 20px;
    }

    &:hover {
      background-color: $green-hover;
      color: $green;
      font-weight: $fw-bold;
      svg {
        color: $green;
        font-weight: $fw-bold;
      }
    }
  }

  &.active {
    width: 300px;
    justify-content: space-between;
    .logo {
      display: block;
    }
    .hamWrapper {
      position: absolute;
      left: 90%;
      top: 0;
    }

    ul li a {
      padding: 0;
    }
    ul li a span {
      display: block;
    }
  }
}

.navActive {
  background-color: $green-hover;
  color: $green-dark;

  a {
    span {
      color: $green-dark;
      font-weight: $fw-bold;
    }

    svg {
      color: $green-dark !important;
    }
  }
}
